:root {
    --primary-color: #483285;
    --primary-color-hover: #32225d;
    --transition: all 0.3s ease-in-out;
    --rounded: 5px;
    --padding: 2.5px;
}

.psg-btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: var(--rounded);
    cursor: pointer;
    padding: var(--padding);
    transition: var(--transition);
}

.psg-btn:hover {
    background-color: var(--primary-color-hover);
    transition: var(--transition);
}

.psg-w-6 {
    width: 24px;
}

.psg-h-6 {
    height: 24px;
}

.psg-text-white {
    color: white;
}